* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.title-page{
  font-family: 'Caveat', cursive;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  color: #A61C35;
}

.logo-tcc{
  height: 85px;
}


// .input{
//   border-radius: 20px;
//   background: #D9D9D9;
// }

.input_cont{
  margin: 20px;
  font-size:18px;
}

ion-input{
  border-radius: 15px;
  --background: #D9D9D9;
  --color: #373737;
}

.checkbox{
  margin-right: 10px;
}

ion-checkbox{
  --checkbox-background-checked: rgb(163, 50, 50);
}

ion-checkbox::part(container) {
  border-radius: 20px;
  border: 2px solid rgb(163, 50, 50);
}

.conteudo{
  border-radius: 30px;
  border-color:  rgb(163, 50, 50);
  border-style: solid;
  border-width: 8px;
  background:white;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

  .titulo{
    color: #3F0912;
    font-size: 25px;
    text-shadow: 0.1em 0.1em 0.2em rgb(131, 131, 131);
    margin-top: 0.5em;
  }

  .cont{
    margin-left:30px;
  }
  
  .nome{
  margin-right: 25px;
  margin-bottom: 10px;
  }
  

  .cont_check{
    font-size:16px;
  }
  #cont{
    margin:35px;
    margin-top: 70px;
  }

  .button_voltar {
    justify-content: center;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    --background: #A61C35;
    --color: white;
    left: 20em;
    margin-top: 80px;
  }

  @media (max-width:768px){
    .titulo{
      font-size: 18px;
    }

      .button_voltar {
      width: 35%;
      font-size:70%;
      margin-top: 50px;
    }

    #cont{
      font-size:13px;
      margin-top: 30px;
    }

    .cont_check{
      font-size:13px;
    }
    .cont{
      font-size:17px;
      margin: 17px;
      margin-top: 20px;
      margin-left: 0px;
    }
    
    .conteudo{
      text-align: center;
    }
    #checkbox{
      display: flex;
      flex-direction: column;
    }
  }