<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Philosopher:ital,wght@1,700&display=swap" rel="stylesheet">
      
      <div class="ion-page" id="main-content">
        <ion-header class="menu">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
            <ion-title class="ion-text-center title-page">Abrigo dos Gatos</ion-title>

            <ion-buttons slot="end">
              <ion-button [routerLink]="['/login']">
                <ion-icon slot="icon-only" name="person-circle" ></ion-icon>
              </ion-button>
           </ion-buttons>

          </ion-toolbar>
        </ion-header>

    <ion-content>
      <ion-row  class="ion-padding ion-justify-content-center">
        <ion-col size-md=6 size="10" class="ion-padding conteudo">
          <ion-row class="titulo ion-justify-content-center">
            <b>Edição de Gatos</b>
         </ion-row>
        
     <form>
      <ion-input class="logo-tcc" type="file"></ion-input>

      <ion-item class="input_cont" lines="none">
        <ion-label position="stacked" class="nome"><b>Nome</b></ion-label>
       <ion-input class="input" name="nome" ngModel></ion-input>
     </ion-item>
 
     <ion-item class="input_cont" lines="none">
       <ion-label position="stacked" class="nome"><b>Cor</b></ion-label>
       <ion-input class="input" name="cor" ngModel></ion-input>
   
     </ion-item>

     <ion-item class="input_cont" lines="none">
       <ion-label position="stacked" class="nome"><b>Idade</b></ion-label>
       <ion-input class="input" name="idade" ngModel></ion-input>
     </ion-item>

     <ion-item class="input_cont" lines="none">
       <ion-label position="stacked" class="nome"><b>Sexo</b></ion-label>
       <ion-input class="input" name="sexo" ngModel></ion-input>
     </ion-item>

     <ion-item class="input_cont" lines="none">
       <ion-label position="stacked" class="nome"><b>Raça</b></ion-label>
       <ion-input class="input" name="raca" ngModel></ion-input>
     </ion-item>

     <ion-item class="input_cont" lines="none">
       <ion-label position="stacked" class="nome"><b>Descrição</b></ion-label>
       <ion-input class="input" name="descricao" ngModel></ion-input>
     </ion-item>

     <ion-row class="ion-padding">
       <ion-button class="button_voltar" shape="round" [routerLink]="['/home-admin']" (click)="apagar(gatoSelecionado.idGato)">Excluir gato</ion-button>
       <ion-button class="button_voltar" shape="round" [routerLink]="['/home-admin']" type="submit">Alterar</ion-button>
     </ion-row>
 
    </form>



     </ion-col>
   </ion-row>

     </ion-content>
  </div>

