.title-page{
  font-family: 'Caveat', cursive;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  color: #A61C35;
}

.background{
  --background:#eeeeee;
}

.conteudo{
  border-radius: 30px;
  border-color:  rgb(163, 50, 50);
  border-style: solid;
  background:white;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  bottom: 1.0em;
}

.titulo{
  color: #3F0912;
  font-size: 20px;
  margin-top: 1.0em;
  
}

.listagem{
  margin-bottom: 6px;
}

@media (max-width:768px){
  .title-page{
    font-size: 22px;
  }
  
  .titulo{
    font-size: 18px;
  }

  ion-item b{
    margin-top: 20px;
    margin-left: 0px;
    font-size: 15px;
  }  
}