.containerBtn{
    background:white;
    margin-top: 1.2em;
    justify-content: center;
    align-items: center;
  }

.title-page{
  font-family: 'Caveat', cursive;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  color: #A61C35;
}

.titulo{
  color: #3F0912;
}
  
  ion-button{
    --color: black;
  }
  .entrar{
    --background: rgb(163, 50, 50);
    --color: white;
  }
  .checkbox{
    margin: 10px;
    --border-radius: 20px;
  }
  .logo-tcc{
    height: 85px;
  }
  #id {
    margin-bottom: 1.2em;
  }
  .button-native {
    --background: #D9D9D9;
  }
  .ion-padding{
    margin-top: 25px;
  }
  .conteudo{
    border-radius: 30px;
    border-color:  rgb(163, 50, 50);
    border-style: solid;
    border-width: 10px;
    background:white;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
    