<ion-header class="menu">
  <a href="#" class="logo"><i class="ri-home-heart-fill"></i><span>Logo</span></a>

<ul class="navbar">
  <li><a href="#" class="active">Home</a></li>
  <li><a href="#">Sobre nós</a></li>
  <li><a href="#">Seja voluntario</a></li>
  <li><a href="#">Quero ajudar</a></li>
  <li><a href="#">Contato</a></li>
</ul>

<div class="main">
  <a href="#" class="user"><ion-icon name="contact"></ion-icon></a>
  <a href="">Entrar</a>
  <ion-icon name="contact"></ion-icon>
  
</div>





</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

<!-- <ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card> -->
</ion-content>