 .title-page{
  font-family: 'Caveat', cursive;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  color:#A61C35;
} 

.background{
  --background:#eeeeee;
}

.ion-padding{
  margin-top: 25px;
}

.conteudo{
  border-radius: 30px;
  border-color:  rgb(163, 50, 50);
  border-style: solid;
  background:white;
  margin: 30px 450px;
  justify-content: center;
  align-items: center;
  bottom: 1.0em;
}

.titulo{
  color:#000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.000em;
}

.dadosVoluntario{
  margin-top: 8vh;
  margin-left: 50px;
}

.dataCadVoluntario, .nomeVoluntario,
.emailVoluntario,.dtNascVoluntario, 
.telVoluntario, .dispoVoluntario{
  margin-top: 1em;
  color:#000;
  font-size: 17px;
}

.containerBtn{
  margin-top: 8vh;
  justify-content: center;
  align-items: center;
  background:white;
}
  
.btnRecusar{
  display: flex;
  justify-content: center;
  margin-left: 30px;
  --background:#A61C35;
  --color: white;
  margin-bottom: 2em;
}
  
@media screen and (max-width:999px){
  .title-page{
    font-size: 22px;
  }
  
  .titulo{
    font-size: 17px;
  }

  .dadosVoluntario{
    margin-top: 7vh;
    margin-left: 10px;
  }

  .dataCadVoluntario, .nomeVoluntario,
  .emailVoluntario,.dtNascVoluntario, 
  .telVoluntario, .dispoVoluntario{
    font-size: 14px;
  }
  
  .containerBtn{
    margin-top: 7vh;
  }

  .btnRecusar{
    margin-left: 0px;
    margin-bottom: 1em;
    font-size: 71%;
  }
}