.title-page{
  font-family: 'Caveat', cursive;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  color: #A61C35;
}

.background{
  --background: #eeeeee
}

.conteudo{
  border-radius: 30px;
  border-color:  rgb(163, 50, 50);
  border-style: solid;
  background:white;
  margin-top: 5em;
  justify-content: center;
  align-items: center;
  bottom: 1.0em;
}

.titulo{
  color: #3F0912;
  font-size: 20px;
  margin-top: 1.0em;
  margin-bottom: 1em;
}

.cont{
  margin-top: 2em;
}

ion-item b{
  color:#3F0912;
  margin-top: 20px;
  margin-left: 1.5em;
  font-size: 16px;
}

.button_voltar{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 23%;
  margin-bottom: 20px;
  --background: #A61C35;
  --color: white;
  margin-top: 75px;
  font-size: 13px;
}

@media (max-width:768px){
  .title-page{
    font-size: 22px;
  }

  .titulo{
    font-size: 18px;
  }

  .cont{
    margin-top: 0.5em;
  }

  ion-item b{
    margin-top: 20px;
    margin-left: 0px;
    font-size: 15px;
  }  

  .button_voltar {
    width: 42%;
    font-size: 12px;
    margin-top: 40px;
  }
}