* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
  }

  #footer {
  padding: 20px 10px;
  }

  #miaudote {
    font-size: 30px;
    color: #3F0912;
    text-align: center;
    font-weight: bold;
  }

   ion-button{
    --color: rgb(49, 47, 47);
  }
  .entrar{
    --background: #A61C35;
    --color: white;
    margin-left: 150px ;
  }
  
  .elemento {
    --color: black;
    padding: 10px 25px;
    text-decoration: none;
    position: relative;

  }

  
  .footer {
    background-color: #3F0912;
    justify-content: center;
    display: flex;
    padding: auto;
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .logo-tcc {
   height: 85px;
  }
  
  .redor{
    background: rgb(226, 226, 226);
    padding: 2em;
  }

  .conteudo {
    border-radius: 30px;
    border-color:  rgb(163, 50, 50);
    border-style: solid;
    border-width: 8px;
    background:white;
    padding: 2em;
    top: -2em;
    font-size: 20px;
   
  }

  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  @media (max-width: 557px ){
    .img-gato{
      display: none;
    }
  }