
  <div class="ion-page" id="main-content">
    <ion-header class="menu">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Abrigo dos Gatos</ion-title>

        <ion-buttons slot="end">
          <ion-button [routerLink]="['/login']">
            <ion-icon slot="icon-only" name="person-circle" ></ion-icon>
          </ion-button>
       </ion-buttons>

      </ion-toolbar>
    </ion-header>

    <ion-content>
     
  <ion-row class="redor ion-padding ion-justify-content-center">
    <ion-col size="12" class="ion-text-center" id="titulo">
      <ion-text>
        <ion-label>
          Sobre o Abrigo dos gatos!
        </ion-label>
      </ion-text>
    </ion-col>
  </ion-row>

    <ion-row class=" ion-justify-content-center">
          <ion-col size="10" class="ion-padding conteudo ion-text-center"> 
            <ion-text >
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </ion-text>
           </ion-col>
      
    </ion-row>
   
    <ion-row id="footer">
      <ion-col class="footer-content">
        <ion-text>
          <ion-label class="footer-title">Contato <br></ion-label>
          
        </ion-text>

        <ion-text>
        
          <ion-label><ion-icon name="logo-whatsapp" class="icon-whatsapp"></ion-icon>WhatsApp</ion-label>
          <br>
        </ion-text>

        <ion-text>
          <ion-label><ion-icon name="mail-outline" class="icon-mail"></ion-icon>E-mail</ion-label>
          <br>
        </ion-text>
      </ion-col>

      <ion-col class="footer-content">
        <ion-text>
          <ion-label class="footer-title">Redes Sociais</ion-label>
          <br>
        </ion-text>

        <ion-text>
          <ion-label><ion-icon name= "logo-facebook" class="icon-facebook"></ion-icon>/abrigodosgatos</ion-label>
          <br>
        </ion-text>
        <ion-text>
          <ion-label><ion-icon name="logo-instagram" class="icon-instagram"></ion-icon>abrigo.dosgatos</ion-label>
          <br>
        </ion-text>
      </ion-col>
     </ion-row>
   
    
     </ion-content>
  </div>
