<div class="container">  <!-- container da tela toda -->
  <ion-item [routerLink]="['/home']" routerLinkActive="active-link" class="voltar">
  <ion-icon name="return-down-back-outline" class="voltarIcon"></ion-icon>VOLTAR</ion-item>
  <div class="containerForm" style="border: 5px solid #A61C35; border-radius: 20px;">  <!-- container que guarda o formulário -->
    <ion-row class="row_logo justify-content-center">
    </ion-row>

  <div class="formulario" style="margin: 12px;">
    <ion-item class="input" lines="none">
      <ion-text class="h1">
        Faça seu login!
      </ion-text>
    </ion-item>
    <ion-item class="input_cont" lines="none">
      <label for="email">Email</label>
      <ion-input id="email" class="input" style="width: 400px;"></ion-input>
    </ion-item>
    <ion-item class="input_cont" lines="none">
      <label for="senha">Senha</label>
      <ion-input id="senha" type="password" class="input" style="width: 400px;"></ion-input>
    </ion-item>
    <div id="botao">
      <ion-button class="btnEntrar" [routerLink]="['/admin/home']">Entrar</ion-button>

    </div>
  </div>
</div>
</div>
<!-- ionic generate page admin/analiseVoluntario -->