ion-menu::part(backdrop) {
    background-color: rgba(19, 17, 19, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(77, 74, 77, 0.18);
  }

  ion-toolbar {
    background-color: #A61C35;
  }
  
  ion-button {
    --color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .menu ion-text{
    color: #A61C35;
    
  }