ion-menu::part(backdrop) {
    background-color: rgba(19, 17, 19, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(77, 74, 77, 0.18);
  }
  
  ion-button {
    --color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
  }
  
  img{
    color: #A61C35;
    width: 40%;
    height: 40%;
  }

  div {
    text-align: center;
    margin: 1em;
  }

  ion-item {
    text-decoration: none;
    font-size: 16px;
    color: #A61C35;
    transition: 0.5s;
  }

  ion-item:hover {
    color: #A61C35;
  }
  ion-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  