* {
  padding: 0;
   margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.title-page{
  font-family: 'Caveat', cursive;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  color: #A61C35;
}

#text_miaudote {
  top: 1.5em;
  font-size: 30px;
  color: #3F0912;
  text-align: center;
  font-weight: bold;
}

.card-gatos{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
}

.classecard {
  width: calc(50% - 10px); /* 50% do contêiner, com espaçamento de 10px entre as colunas */
  margin-bottom: 20px;
  border-radius: 20px;
}

.name{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

ion-card-subtitle{
  top: 0.1em;
  font-weight: bold;
  color: black;
}

.texto{
  color: black;
  font-size: 15px;
  text-align: center;
  margin: 10px;
}

.mensagem{
  margin-top: 4em;
}
  
@media (max-width: 600px) {
  #text_miaudote {
    top: 1.0em;
  }

  .card-gatos {
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

  ion-card-title{
    text-align: center;
  }
      
  ion-card-subtitle{
    text-align: center;
  }

  .texto{
    text-align: center;
    margin: 10px;
  }
}
  
@media (max-width: 280px){
  .title-page{
    font-size: 22px;
  }
  
  p{
    margin-top: 5px;
    padding-right: 20px;
    font-size: 14px;
  }
}