<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Philosopher:ital,wght@1,700&display=swap"rel="stylesheet">

<!-- <ion-menu-adm></ion-menu-adm> -->
<div class="ion-page" id="main-content">
  <ion-header class="menu">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center title-page">Abrigo dos Gatos</ion-title>

      <ion-buttons slot="end">
        <ion-button [routerLink]="['/login']">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row>
      <ion-col size="12" class="ion-text-center" id="text_miaudote">
         <ion-label>Gatos adotados</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="gatosExibidos && gatosExibidos.length > 0; else noGatos" class="ion-padding ion-justify-content-center">
      <div class="card-gatos">
        <ion-card class="classecard" *ngFor="let gato of gatosExibidos">
          <img class="img-card" alt="Gato" src="{{this.upload}}{{gato.imgGato}}"/>
          <ion-card-header>
            <ion-card-title class="name">{{gato.nome}}</ion-card-title>
            <!-- <ion-card-subtitle class="name">{{gato.sexo}}</ion-card-subtitle> -->
            <ion-card-subtitle class="name">{{gato.sexo}}, {{gato.idadeGato}}</ion-card-subtitle>
            <ion-card-subtitle class="name">{{gato.raca}}</ion-card-subtitle>
            <p class="texto">Tutor: {{gato.nomeTutor}}</p>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-row>
    
    <ng-template #noGatos>
      <!-- Exibir mensagem quando não há gatos disponíveis -->
      <ion-row class="ion-padding ion-justify-content-center noGatos">
        <ion-title class="mensagem ion-text-center">Nenhum gato adotado!</ion-title>
      </ion-row>
    </ng-template>
  </ion-content>
</div>