* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.title-page{
  font-family: 'Caveat', cursive;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  color: #A61C35;
}

.logo-component{
  display: flex;
  align-items: center; 
}

.cont{
  margin:20px;
  font-size:20px;
}

.cont_check{
  font-size:16px;
}

#cont{
  margin:35px;
  margin-top: 70px;
}

.logo-tcc{
  height: 85px;
}

.menu_component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

.elemento {
  float: left;
  color: #333; 
  text-decoration: none; 
  padding-right: 20px;
  display: inline-block;
  list-style: none;
}

.entrar-component{
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrar{
  --background: #A61C35; 
  --color: white;  
}

.conteudo{
  border-radius: 30px;
  border-color:  rgb(163, 50, 50);
  border-style: solid;
  border-width: 8px;
  background:white;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.titulo{
  color: #3F0912;
  font-size: 25px;
  text-shadow: 0.1em 0.1em 0.2em rgb(131, 131, 131);
  margin-top: 0.5em;
}

.input{
  border-radius: 20px;
  --background: #D9D9D9;
}

ion-label b{
  color:#3F0912;
}

.input_cont{
  margin: 20px;
  font-size:18px;
}

.nome{
margin-right: 25px;
margin-bottom: 10px;
}

.checkbox{
  margin: 10px;
}

ion-checkbox{
  --checkbox-background-checked: rgb(163, 50, 50);
}

ion-checkbox::part(container) {
  border-radius: 20px;
  border: 2px solid rgb(163, 50, 50);
}

.button_voltar {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
  --background: #A61C35;
  --color: white;
  margin-top: 75px;
}

  @media (max-width:768px){
    .titulo{
      font-size: 18px;
    }
    .nome{
      font-size:16px;
      margin-bottom: 10px;
    }

    .input_cont{
      font-size:13px;
    }

    #conteudo{
      margin-bottom: 150px;
    }
    .button_voltar {
      width: 35%;
      font-size:70%;
      margin-top: 50px;
    }  

    .checkbox{
      margin: 8px;
    }
    
    #checkbox{
      display: flex;
      flex-direction: column;
    }
    .cont_check{
      font-size:13px;
    }
    .cont{
      font-size:17px;
      margin: 17px;
      margin-top: 20px;
      margin-left: 0px;
    }

    #cont{
      font-size:13px;
      margin-top: 30px;
    }
  }