.background{
  --background:#D9D9D9;
}

.containerBtn{
  margin-top: 4.0em;
  justify-content: center;
  align-items: center;
    background:white;
  }

  .title-page{
    font-family: 'Caveat', cursive;
    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
    color: #A61C35;
  }
  
  ion-button{
    --color: black;
  }
  .entrar{
    --background: rgb(163, 50, 50);
    --color: white;
  }
  .checkbox{
   justify-content: center;
   align-items: center;
  --border-radius: 20px;
  --checkbox-background-checked: rgb(163, 50, 50);
  }

  ion-checkbox::part(container) {
    border-radius: 20px;
    border: 2px solid rgb(163, 50, 50);
  }

  .logo-tcc{
    height: 85px;
  }
  
  #id {
    margin-bottom: 1.2em;
  }
  .button-native {
    --background: #D9D9D9;
  }
  .btnRecusar{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    --background:  #A61C35;
    --color: white
    ;
}
  .btnAprovar{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    --background: #A61C35;
    --color: white;
  }
  .dadosVoluntario{
    margin-top: 8vh;
     margin-left: 100px;
  }

  .dataCadVoluntario, 
  .nomeVoluntario,
   .emailVoluntario,
   .dtNascVoluntario, 
   .telVoluntario, 
   .dispoVoluntario{
    margin-top: 1em;
    color: #000;
    font-size: 17px;
  }
  .ion-padding{
    margin-top: 25px;
  }

  .conteudo{
    border-radius: 30px;
    border-color:  rgb(163, 50, 50);
    border-style: solid;
    // border-width: 8px;
    background:white;
    margin: 30px 450px;
    justify-content: center;
    align-items: center;
    bottom: 1.0em;
  }
  
  .titulo{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1.000em;
  }
  
  .button_voltar {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 20%;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
    --background: #A61C35;
    --color: white;
  }
  
  @media screen and (max-width:600px){
    .conteudo{
      border-radius: 30px;
      border-color:  rgb(163, 50, 50);
      border-style: solid;
      // border-width: 8px;
      background:white;
      margin: 30px;
      justify-content: center;
      align-items: center;
      bottom: 1.0em;
    }
    .btnRecusar{
      display: flex;
      justify-content: center;
      margin-left: 5px;
      margin-top:20px;
      --background: #A61C35;
      --color: white;

  }
    .btnAprovar{
          display: flex;
          justify-content: center;
          // margin-left: 230px;
          --background: #A61C35;
          --color: white;
    }
    .tema-pag {
      font-size: 100%;
  }

    
  }

  
