<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Philosopher:ital,wght@1,700&display=swap" rel="stylesheet">
      
      <div class="ion-page" id="main-content">
        <ion-header class="menu">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
            <ion-title class="ion-text-center title-page">Abrigo dos Gatos</ion-title>

            <ion-buttons slot="end">
              <ion-button [routerLink]="['/login']">
                <ion-icon slot="icon-only" name="person-circle" ></ion-icon>
              </ion-button>
           </ion-buttons>

          </ion-toolbar>
        </ion-header>

    <ion-content>
      <ion-row class="ion-padding ion-justify-content-center conteudo">
        <ion-col size=6 class="ion-padding">
          <ion-row class="ion-justify-content-center tema-pag">
            <b>Formulário de Adoção</b><br><br>
          </ion-row>

          <ion-col size="8">
            <ion-text>
              <b>Data de preenchimento: 12/06/2023</b><br>
              <b>Nome do Gato: [Nome Animal]</b><br>
              <b>Nome: João Carlos</b><br>
              <b>Data de Nascimento: 08/04/1997</b><br>
              <b>Telefone: 15 9999-3409</b><br>
              <b>Endereço: Antônio Guimarões, 204</b><br>
            </ion-text><br>
            <ion-text>
              <b>Informações Residênciais:</b><br><br>
  
              <b>Há outros Animais eu sua residência?</b><br>
              <b>"Sim"</b><br><br>
              <b>Você possui tempo suficiente para dar cuidados necessários?</b><br>
              <b>"Tenho bastante Tempo"</b>
            </ion-text>
          </ion-col>
            <!-- <div class="dadosAdocao">
              <div class="dataCadTutor"><b>Data de preenchimento: 12/06/2023</b></div>
              <div class="nomeAnimal"><b>Nome do Gato: [Nome Animal]</b></div>
              <div class="nomeTutor"><b>Nome: João Carlos</b></div>
              <div class="dtNasc"><b>Data de Nascimento: 08/04/1997</b></div>
              <div class="telTutor"><b>Telefone: 15 9999-3409</b></div>
              <div class="endereco"><b>Endereço: Antônio Guimarões, 204</b></div>

              <b>Informações Residênciais:</b>
  
              <b>Há outros Animais eu sua residência?</b>
              <div class="respostaUm"><b>"Sim"</b></div>

              <b>Você possui tempo suficiente para dar cuidados necessários?</b>
              <div class="respostaDois"><b>"Tenho bastante Tempo"</b></div>
          </div>  -->
  
          <ion-row class="containerBtn" size="12">
            <ion-button class="btnAprovar" shape="round">Aprovar</ion-button>
            <ion-button class="btnRecusar" shape="round" [routerLink]="['/home']">Recusar</ion-button>
            
          </ion-row>
    
  </ion-col>
  </ion-row>
 
     </ion-content>
  </div>

     
   