<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Philosopher:ital,wght@1,700&display=swap" rel="stylesheet">
      
      <div class="ion-page" id="main-content">
        <ion-header class="menu">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
            <ion-title class="ion-text-center title-page">Abrigo dos Gatos</ion-title>

            <ion-buttons slot="end">
              <ion-button [routerLink]="['/login']">
                <ion-icon slot="icon-only" name="person-circle" ></ion-icon>
              </ion-button>
           </ion-buttons>

          </ion-toolbar>
        </ion-header>

    <ion-content>
      <ion-row class="ion-padding ion-justify-content-center conteudo">
        <ion-col size="12" class="ion-padding">
          <ion-row class="ion-justify-content-center tema-pag">
            <b>Formulário de Adoção</b><br><br>
          </ion-row>

            <ion-col class="teste">
            <div class="dadosAdocao">
              <div class="dataCadTutor"><b>Data de preenchimento: 12/06/2023</b></div>
              <div class="nomeAnimal"><b>Nome gato: </b></div>
              <div class="nomeTutor"><b>Nome: {{tutorSelecionado.nomeAdocao}}</b></div>
              <div class="dtNasc"><b>Data de Nascimento: {{tutorSelecionado.dataNascAdocao}}</b></div>
              <div class="telTutor"><b>Telefone: {{tutorSelecionado.telefoneAdocao}}</b></div>
              <div class="endereco"><b>Endereço: {{tutorSelecionado.endereco}}</b></div>
              <br>
              <b>Informações Residênciais:</b>
              <br>
              <br>
              <b>Há outros Animais eu sua residência?</b>
              <div class="respostaUm"><b>{{tutorSelecionado.possuiAnimais}}</b></div>
              <br>
              <b>Você possui tempo suficiente para dar cuidados necessários?</b>
              <div class="respostaDois"><b>{{tutorSelecionado.temTempo}}</b></div>
          </div>
          </ion-col>
  
          <ion-row class="containerBtn" size="6">
            <ion-button class="btnAprovar" shape="round" (click)="aprovar()">Aprovar</ion-button>
            <ion-button class="btnRecusar" shape="round" (click)="apagar(tutorSelecionado.idAdocao)" [routerLink]="['/home-admin']">Recusar</ion-button>
          </ion-row>
    
  </ion-col>
  </ion-row>
 
     </ion-content>
  </div>

     
   