.containerBtn{
    background:white;
    margin-top: 1.2em;
    justify-content: center;
    align-items: center;
  }
  
.title-page{
  font-family: 'Caveat', cursive;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  color: #A61C35;
}
  
  ion-button{
    --color: black;
  }
  // .entrar{
  //   --background: rgb(163, 50, 50);
  //   --color: white;
  // }
  .checkbox{
    margin: 10px;
    --border-radius: 20px;
    
  }
  .logo-tcc{
    height: 85px;
  }
  
  #id {
    margin-bottom: 1.2em;
  }

  .button-native {
    --background: #D9D9D9;
  }
  .btnRecusar{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    --background: #A61C35;
    --color: white;
    size: 100%;
}
  .btnAprovar{
        display: flex;
        justify-content: center;
        // margin-left: 230px;
        --background: #A61C35;
        --color: white;
        
  }
  

  .dataCadTutor, 
  .nomeAnimal,
   .emailVoluntario,
   .nomeTutor, 
   .dtNasc, 
   .telTutor, 
   .endereco{
    margin-top: 1em;
    color: #000;
    font-size: 17px;
  }

  // .ion-padding{
  //   margin-top: 25px;
  // }
  .conteudo{
    border-radius: 30px;
    border-color:  rgb(163, 50, 50);
    border-style: solid;
    border-width: 8px;
    background:white;
    margin: 30px 450px;
    justify-content: center;
    align-items: center;
bottom: 1.0em;
  }
  .tema-pag {
    font-size: 140%;
}

  .moc{
    font-size: 100%;
  }

  @media screen and (max-width:600px){
    .conteudo{
      border-radius: 30px;
      border-color:  rgb(163, 50, 50);
      border-style: solid;
      border-width: 8px;
      background:white;
      margin: 30px;
      justify-content: center;
      align-items: center;
      bottom: 1.0em;
    }
    .btnRecusar{
      display: flex;
      justify-content: center;
      margin-left: 5px;
      margin-top:20px;
      --background: #A61C35;
      --color: white;
      size: 30%;

  }
    .btnAprovar{
          display: flex;
          justify-content: center;
          // margin-left: 230px;
          --background: #A61C35;
          --color: white;
    }
    .tema-pag {
      font-size: 100%;
  }
  .moc{
    font-size: 70%;
  }
    
  }
 
  
